/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina {
    border: 2px solid white;
    width: 50%;
    margin: 20px auto;
}


body {
    background-color: #3c4539;
    ;

}

header>div {
    text-align: left;
    color: white;
    display: flex;
    align-items: center;


}

.logo {

    width: 130px;
    height: 130px;
    border-radius: 50%;

}

.USERS {
    width: 300px;
    min-height: 95px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(5, 2, 2);
    font-size: 50px;
}

main>div {
    display: flex;
    align-items: center;

}

h2 {
    color: white;
}

.user1 {
    width: 130px;
    min-height: 110px;
    border-color: white;
    border-radius: 50%;

}

.user2 {
    width: 130px;
    min-height: 110px;
    border-color: white;
    border-radius: 50%;
}

.user3 {
    width: 130px;
    min-height: 110px;
    border-color: white;
    border-radius: 50%;
}

.user4 {
    width: 130px;
    min-height: 110px;
    border-color: white;
    border-radius: 50%;
}

.parafra {

    width: 300px;
    min-height: 95px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(5, 2, 2);

}

footer>div {
    text-align: center;
    color: white;
    background-color: rgb(5, 2, 2);
    width: 300px;
    min-height: 30px;
    margin-left: 60px;
    margin-top: 20px;
}